{% load static %}
<section class="hero" id="home">
  <div class="hero-bg"></div>
  <div class="container">
    <div class="hero-content">
      <div class="hero-text">
        <h1>
          Protect Your Crops with <br />
          <span style="color: #18ca2d">AI-Powered Diagnosis</span>
        </h1>
        <p>
          Upload a photo, get instant disease identification, and receive expert
          treatment recommendations. Reduce crop losses by up to 40% with our
          advanced agricultural AI technology.
        </p>
        <div class="hero-buttons">
          <a href="#" class="btn btn-outline btn-lg">Start Diagnosis</a>
        </div>
      </div>

      <div class="qr-card">
        <div class="qr-code">
          <img
            src="{% static 'images/qr.png' %}"
            alt="QR Code for Agricure Mobile App"
            class="qr-image"
          />
        </div>
        <div class="qr-p">Get Agricure on Your Phone</div>
      </div>
    </div>
  </div>
</section>
